
<<<<<<< HEAD

=======
header {
    background-color: rgb(196, 214, 139);
    border-bottom: 1px solid white;
}
>>>>>>> e07669c (3 style)
form {
    border-radius: 10px;
    border-color: darkseagreen;
    border-width: 2px;
    background-color: none;
}