
header {
    background-color: rgb(196, 214, 139);
    border-bottom: 1px solid white;
}
form {
    border-radius: 10px;
    border-color: darkseagreen;
    border-width: 2px;
    background-color: none;
}
footer span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: olivedrab;
    font-size: 24px;
}